# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\ADI\Stuff\Todo\EncryptingAtxtFile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# cmake-build-debug folder
cmake-build-debug
# .idea folder
.idea
# Compiled file
*.exec
# Default CLion CMake
CMakeLists.txt